<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-book" aria-hidden="true"></i>
  </span>
  L24-MO-214
</a>
<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-book" aria-hidden="true"></i>
  </span>
  L24-MO-216
</a>
<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-book" aria-hidden="true"></i>
  </span>
  L24-MO-217
</a>
<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-book" aria-hidden="true"></i>
  </span>
  RH
</a>
<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-code-branch" aria-hidden="true"></i>
  </span>
  WB
</a>
<a class="panel-block">
  <span class="panel-icon">
    <i class="fas fa-code-branch" aria-hidden="true"></i>
  </span>
  Alliance
</a>

 <!-- <label class="panel-block">
    <input type="checkbox" />
    Else
  </label> -->