<div class="notification has-text-centered is-link is-light">
  Form for input data from sections. Most of cases, just input <strong>quanity</strong>. The other fields 
  will be filled automatically. Check and only change when needed.
</div>

<form id="inputForm" action="/section" method="post" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">For</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="mo" hx-get="/sections/productIds" hx-target="#productId" name="mo">
              <option value="" disabled selected>Select MO</option>
              {{ range .data.Mo_ids }}
              <option value="{{.}}">{{ . }}</option>
              {{ end }}
            </select>
          </div>
        </div>
      </div>

      <div class="field is-expanded">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="productId" name="productId">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">From</label>
    </div>  

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select name="section_id">
              <option value="RAWMILL">RAWMILL</option>
              <option value="FINEMILL">FINEMILL</option>
              <option value="REEDED">REEDED</option>
              <option value="STEEL">STEEL</option>
              <option value="CNC">CNC</option>
              <option value="PACKING">PACKING</option>
              <option value="STEEL">STEEL</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="Name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
        <p class="help is-link">This field gets info from your account. Change only needed</p>
      </div>
      
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Input Data</label>
    </div>  

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Default is current time. Change only needed</p>
      </div>

      <div class="field" hx-target="this" hx-swap="outerHTML">
        <p class="control is-expanded">
          <input  hx-post="/section/checkremains" hx-include="#inputForm"
                  hx-trigger="keyup delay:1s, changed" name="qty" class="input" 
                  min="0" type="number" placeholder="Enter quanity/Nhập số lượng">
        </p>
        <p class="help is-primary">Want know remains? Just input number and wait a second</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button x-show="showBtn" class="button is-link is-outlined is-fullwidth">
            Send Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>