<div class="notification has-text-centered is-link is-light">
  Form for input data from sections. Most of cases, just input <strong>quanity</strong>. The other fields 
  will be filled automatically. Check and only change when needed.
</div>

<form class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">For</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select hx-get="/sections/productIds" hx-target="#productIds" name="mo">
              {{ range .data.Mo_ids }}
              <option value="{{.}}">{{ . }}</option>
              {{ end }}
            </select>
          </div>
        </div>
      </div>

      <div class="field is-expanded">
        <div class="control">
          <div class="select is-fullwidth">
            <select id="productIds" name="productId">
              <option>A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">From</label>
    </div>  

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select>
              <option>CNC</option>
              <option>VENEER</option>
              <option>STEEL</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="Name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
        <p class="help is-danger">This field gets info from your account. Change only needed</p>
      </div>
      
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Input Data</label>
    </div>  

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="date" value="2024-04-01">
        </p>
        <p class="help is-danger">Default is current time. Change only needed</p>
      </div>

      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" type="number" placeholder="Nhập số lượng theo đơn vị">
        </p>

        <p class="control">
          <span class="select">
            <select>
              <option>pcs</option>
              <option>m2</option>
              <option>m3</option>
            </select>
          </span>
        </p>
      </div> 
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined is-fullwidth">
            Send Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>