<form class="box">

  <div class="field">
    <label class="label">MO</label>
    <div class="control">
      <div class="select">
        <select>
          <option>L24-MO-216</option>
          <option>L24-MO-217</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Product ID</label>
    <div class="control">
      <div class="select">
        <select>
          <option>TAE003-324-23</option>
          <option>M2001-234-234</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Section</label>
    <div class="control">
      <div class="select">
        <select>
          <option>CNC</option>
          <option>Veneer</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <input class="input" type="datetime" />
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" />
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>