
{{ range .subBluePrint }}
  <a  hx-get="/section/{{.Mo_id}}/{{.Product_id}}/{{.Needed_qty}}" hx-target="#{{.Product_id}}" 
      @click="title = '{{.Product_id}}'" class="panel-block custom">
    {{ .Product_id }}
    <progress class="progress is-info" style="max-width: 100px;" data-text="{{.Done_qty}}/{{.Needed_qty}}" 
              value="{{.Done_percent}}" max="100">{{.Done_percent}}</progress>
  </a>
  <div id="{{.Product_id}}"></div>
{{ end }}


<style>
  .custom {
    display: flex;
    justify-content:space-between;
    padding-left: 44px;
  }
  .progress:before {
    content:attr(data-text);
    position:absolute;
    left:0;
    right:0;
  }
  .progress {
   text-align:center;
   align-items: center;
   position:relative;
   font-size: 0.75em;
  }
</style>