<div id="table-container" class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Section</th>
        <th>Quanity</th>
        <th>Date</th>
        <th>Staff</th>
        <th>Product</th>
        <th>MO</th>
      </tr>
    </thead>
    <tbody>  
      <a  href="/inputSection/{{.mo_id}}/{{.product_id}}/{{.section_id}}" >
        Add more...
      </a>
      {{ range .inputdates }}
      <tr>
        <td>{{.Section_id}}</td>
        <td>{{.Qty}}</td>
        <td>{{.InputDate}}</td>
        <td>{{.Staff}}</td>
        <td>{{.Product_id}}</td>
        <td>{{.Mo_id}}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<style>
  td, th {
    white-space: nowrap;
    overflow: hidden;
  }
  .table-container {
    padding: 0;
    margin: 0;
  }
</style>