<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Section</th>
        <th>Input Date</th>
        <th>Quanity</th>
        <th>Quanity</th>
        <th>Quanity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mechanical iron</td>
        <td>2024-01-06</td>
        <td>26</td>
        <td>Mechanical iron</td>
        <td>Mechanical iron</td>
      </tr>
      <tr>
        <td>CNC</td>
        <td>2024-01-06</td>
        <td>26</td>
        <td>Mechanical iron</td>
        <td>Mechanical iron</td>
      </tr>
    </tbody>
  </table>
</div>

  

<style>

</style>