<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Section</th>
        <th>Quanity</th>
        <th>Date</th>
        <th>Staff</th>
        <th>Product</th>
        <th>MO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{ range .inputdates }}
        <td>{{.Section_id}}</td>
        <td>{{.Qty}}</td>
        <td>{{.InputDate}}</td>
        <td>{{.Staff}}</td>
        <td>{{.Product_id}}</td>
        <td>{{.Mo_id}}</td>
        {{ end }}
      </tr>
    </tbody>
  </table>
</div>

  

<style>
  td, th {
    white-space: nowrap;
    overflow: hidden;
  }
</style>