<nav x-data="{title:''}" class="panel is-primary">
  <p id="title" class="panel-heading" x-text="title"></p>

  <div class="panel-block">
    <p class="control has-icons-left">
      <input  
              class="input" name="search" type="search" placeholder="Search" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <p class="panel-tabs" hx-target="#content" hx-swap="innerHTML">
      <a hx-get="/prodadfilter/all" @click="title = 'All of MO'">All</a>
      <a hx-get="/prodadfilter/running" @click="title = 'MOs that is running'">Running</a>   
      <a hx-get="/prodadfilter/ready" @click="title = 'MOs that is waiting for running'">Ready</a>
      <a hx-get="/prodadfilter/done" @click="title = 'Finished MOs'">Done</a>
  </p>

  <div id="content">
    {{ template "production_admin/listMos" . }}
  </div>


  <div class="panel-block">
    <a  hx-get="/prodadfilter/all" hx-target="#content" hx-swap="innerHTML" @click="title = 'All of MO'" 
        class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </a>
  </div>
</nav>