<div class="chart-container">
  <canvas id="{{.workcenter}}"></canvas>
</div>

<style>
  .chart-container {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
</style>

<script>
  new Chart(document.getElementById({{.workcenter}}), {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.labels}},
      datasets: [
      {
        datalabels: {
          rotation: -90,
          labels: {
            title: true
          },
        },
        label: {{index .units .workcenter}},
        data: {{.quanity}},
        yAxisID: 'y',
        pointStyle: 'rect',
        backgroundColor: 'rgba(163, 85, 85, 0.8)',
      },
      {
        datalabels: {
          labels: {
            value: {
              color: '#433F45',
            }
          }
        },
        label: {{index .chartLabels 1}},
        data: {{.efficiency}},
        yAxisID: 'y1',
        type: "line",
        pointStyle: 'line',
        pointRadius: 0,
        borderWidth: 1,
        backgroundColor: '#433F45',
        borderColor: '#433F45',
      },
      {
        datalabels: {
          labels: {
            title: null
          }
        },
        label: 'Target ({{ index .targets 0}} {{ index .targetUnits .workcenter}})' ,
        data: {{.targets}},
        yAxisID: 'y',
        type: "line",
        pointStyle: 'line',
        pointRadius: 0,
        tension: 0.1,
        borderWidth: 1,
        backgroundColor: 'blue',
        borderColor: 'blue',
      },
    ]
    },
    options: {
      plugins: {
        datalabels: {
          color: 'black', align: 'top', anchor: 'start', offset: 0,
          formatter: function(value, context) {
            return value.toLocaleString()
          },
        },
        title: {text: "{{.workcenter}} (lastest update at {{.latestCreated}})", display: true},
        legend: {
          labels: {
            usePointStyle: true,
          },
        }
      },
      responsive: true,
      scales: {
        x: {
          grid: { display: false, },
        },
        y: {
          display: false,
          beginAtZero: true,
          grid: { display: false, },
        },
        y1: {
          type: 'linear',
          display: false,
          position: 'right',
          grid: {
            drawOnChartArea: false,
            display: false,
          },
        },
      },
    },
  });
</script>