<div class="container" style="width: 50vw;">
  <div class="box has-text-centered">
    <form action="/proccess_reeded_excelfile" method="post" enctype="multipart/form-data">
      <div class="field has-addons">
        <div class="control">
          <div class="file is-info is-centered">
            <label class="file-label">
              <input class="file-input" type="file" name="file" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Choose file... </span>
              </span>
            </label>
          </div>
        </div>
        
        <div class="control">
          <button class="button" type="submit">Process</button> 
        </div>
        
      </div>
      
    </form>
  </div>
</div>