<div id="msg" class="notification has-text-centered is-link is-light">
  {{ .msg }}
</div>

<form id="inputForm" class="box"
  x-data="{
    wc: '',
    targetUnits: {'CUTTING': 'm³/h', 'LAMINATION': 'm²/h', 'REEDEDLINE': 'm²/h', 'VENEERLAMINATION': 'm²/h', 'PANELCNC': 'sheets/h', 'ASSEMBLY': '$/h', 'WOODFINISHING': '$/h', 'PACKING': '$/h'},
    getunit() {
      return this.targetUnits[this.wc]
    }
  }"
>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Work center</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select">
            <select @change="wc = $el.options[$el.selectedIndex].text" id="workcenter" name="workcenter">
              <option value="" disabled selected>Select work center</option>
              {{ range $key, $value := .units }}
              <option value="{{$key}}">{{$key}}</option>
              {{ end }}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Date range</label>
    </div>

    <div class="field-body">
      <div class="field has-addons is-narrow">
        <p  class="control">
          <input hx-post="/targethistory" hx-target="#list" hx-trigger="change" id="dateRange" name="dateRange" class="input" type="date">
        </p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <p></p>
    </div>

    <div class="field-body">
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="Monday" value="Monday">
            Monday
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Tuesday" value="Tuesday">
            Tuesday
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Wednesday" value="Wednesday">
            Wednesday
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Thursday" value="Thursday">
            Thursday
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Friday" value="Friday">
            Friday
          </label>
        </div>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="Saturday" value="Saturday">
            Saturday
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Sunday" value="Sunday">
            Sunday
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Set target</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="target" class="input" step="any" min="0" type="number" placeholder="Set target">
        </p>

        <p class="control"><a class="button is-static" x-show="wc != ''" x-text="getunit"></a></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Số lượng nhân công</label>
    </div>

    <div class="field-body">
      <div class="field">
        <p class="control">
          <input  name="target" class="input" step="any" min="0" type="number" placeholder="Số nhân công">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Số lượng nhân công</label>
    </div>

    <div class="field-body">
      <div class="field">
        <p class="control">
          <select name="ca" id="">
            <option value=""></option>
          </select>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Set Demand Of Month</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input  name="demandofmonth" class="input" step="any" min="0" type="number" placeholder="Set demand of month">
        </p>

        <p class="help is-link">Để trống nếu không đặt.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button hx-post="/target" hx-target="#msg" class="button is-link is-outlined">
            Update
          </button>
          <button hx-post="/targethistory" hx-target="#list" class="button is-link is-outlined">
            View History
        </button>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="notification is-light">
  <p class="subtitle is-5">History</p>
</div>
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Work Center</th>
        <th>Target</th>
        <th>Unit</th>
      </tr>
    </thead>
    <tbody id="list">
      
    </tbody>
  </table>
</div>

<script src="/static/js/bulma-calendar.min.js"></script>
<script>
	var defaultOptions = {
		displayMode: 'dialog',
    color: 'primary',
    isRange: true,
    allowSameDayRange: true,
    lang: 'en-US',
    startDate: undefined,
    endDate: undefined,
    minDate: null,
    maxDate: null,
    disabledDates: [],
    disabledWeekDays: undefined,
    highlightedDates: [],
    weekStart: 0,
    dateFormat: 'yyyy-MM-dd',
    enableMonthSwitch: true,
    enableYearSwitch: true,
    displayYearsCount: 50,
    labelFrom: "From",
    labelTo: "To",
};
// Initialize all input of date type.
const calendars = bulmaCalendar.attach('[type="date"]', defaultOptions);
/*
// Loop on each calendar initialized
calendars.forEach(calendar => {
	// Add listener to select event
	calendar.on('select', date => {
	});
});

// To access to bulmaCalendar instance of an element
const element = document.querySelector('#my-element');
if (element) {
	// bulmaCalendar instance is available as element.bulmaCalendar
	element.bulmaCalendar.on('select', datepicker => {
		console.log(datepicker.data.value());
	});
}
*/
</script>