<div class="notification has-text-centered is-link is-light">
  Form nhập dữ liệu cho chart WH ISSUE
</div>

<form id="inputForm" action="/inputwhissue" method="post" class="box">
    
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">DATE</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" name="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Default is current time. Change only needed</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">WH ISSUE(cbm)</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input  name="whissue" class="input" step="any" min="0" type="number">
        </p>

      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined">
            Send Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>