<div class="notification has-text-centered is-link is-light">
  Form nhập báo cáo MANHR cho Efficiency
</div>

<form id="inputForm" action="/inputmanhr" method="post" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Ngày</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" name="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Mặc định là ngày hôm nay.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">List tổng giờ công</label>
    </div>

    <div class="field-body">
      <div class="field is-expanded">
        <p class="control">
          <input name="manhr" class="input" type="text" 
            placeholder="Thứ tự: CUTTING LAMINATION REEDEDLINE VENEERLAMINATION PANELCNC ASSEMBLY WOODFINISHING PACKING">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined">
            Gửi
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>