<div id="msg" class="notification has-text-centered is-link is-light">
  {{.msg}}
</div>

<form id="inputForm" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Area</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select">
            <select name="area">
              <option value="">Chọn khu vưc</option>
              <option value="CUTTING">CUTTING</option>
              <option value="WOOD LAMINATION">WOOD LAMINATION</option>
              <option value="CURVE VENEER LAMINATION">CURVE VENEER LAMINATION</option>
              <option value="FLAT VENEER LAMINATION">FLAT VENEER LAMINATION</option>
              <option value="COMPONENT CNC">COMPONENT CNC</option>
              <option value="COMPONENT FINEMILL">COMPONENT FINEMILL</option>
              <option value="PANEL CNC">PANEL CNC</option>
              <option value="ASSEMBLY">ASSEMBLY</option>
              <option value="OEM ASSEMBLY">OEM ASSEMBLY</option>
              <option value="WOOD FINISHING">WOOD FINISHING</option>
              <option value="OEM WOOD FINISHING">OEM WOOD FINISHING</option>
              <option value="MECHANIC CAST IRON">MECHANIC CAST IRON</option>
              <option value="MECHANIC METAL">MECHANIC METAL</option>
              <option value="WELDING">WELDING</option>
              <option value="METAL FINISHING">METAL FINISHING</option>
              <option value="CONCRETE">CONCRETE</option>
              <option value="UPHOLSTERY">UPHOLSTERY</option>
              <option value="PACKING">PACKING</option>
              <option value="OEM PACKING">OEM PACKING</option>
              <option value="QUALITY">QUALITY</option>
              <option value="WH">WH</option>
              <option value="TECH">TECH</option>
              <option value="MAINT">MAINT</option>
              <option value="PROCESS">PROCESS</option>
              <option value="HR">HR</option>
              <option value="EHS">EHS</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Ngày</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input hx-post="/getlist6s" hx-target="#list" id="date" name="date" class="input" type="date">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Điểm</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="score" name="score" class="input" type="number">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button hx-post="/input6s" hx-target="#msg" class="button is-link is-outlined">
            Gửi
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="notification is-light">
  <p class="subtitle is-5">History</p>
</div>
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Khu vực</th>
        <th>Ngày</th>
        <th>Điểm</th>
      </tr>
    </thead>
    <tbody id="list">
      
    </tbody>
  </table>
</div>