<div>
  <canvas id="qualitychart"></canvas>
</div>


<script>
  new Chart(document.getElementById("qualitychart"), {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.dates}},
      datasets: [
      {{ range $key, $value := .data }}
        {
          label: {{ $key }},
          data: {{ $value }},
          pointStyle: 'rect',
        },
      {{ end }}
      ]
    },
    options: {
      plugins: {
        datalabels: {
          color: 'black', align: 'center', anchor: 'center', offset: 0,
          formatter: function(value, context) {
            if (value == "0") {
              return ""
            } else {
              return value + "%"
            }
          },
        },
        legend: {
          labels: {
            usePointStyle: true,
          },
        }
      },
      responsive: true,
      scales: {
        x: {
          stacked: true,
          grid: { display: false, },
        },
        y: {
          stacked: true,
          display: false,
        }
      }
    }
  });
</script>