<div class="notification has-text-centered is-link is-light">
  Form copy paste nhanh cho Quality
</div>

<form id="inputForm" action="/qualityquickinput" method="post" class="box">
  <div class="field">
    <p class="control">
      <input id="inputdate" name="inputdate" class="input" type="date">
    </p>
    <p class="help is-link">Mặc định là ngày hôm nay.</p>
  </div>

  <div class="field">
    <div class="control">
      <textarea name="input" class="textarea is-link" placeholder="Paste theo dạng 3 cột: Bộ phận, Số lượng kiểm, số lượng lỗi. Cách nhau dấu cách như bên dưới:
      M-FIN	400	20
      FIN-2	2000	200
      FIN-1	1500	15
      M-WELD	2400	25
      UPH	3240	20
      ASS-1	1230	10
      "></textarea>
    </div>
  </div>

  <div class="field is-expanded">
    <div class="control is-expanded">
      <button class="button is-link is-outlined is-fullwidth">
        Process and Update
      </button>
    </div>
  </div>
</form>

<div class="notification has-text-centered is-light">
  Lịch sử nhập gần đây
</div>
<div class="table-container is-centered">
  <table class="table">
    <thead>
      <tr>
        <th>Ngày</th>
        <th>Bộ Phận</th>
        <th>Số Lượng Kiểm</th>
        <th>Số Lượng Lỗi</th>
      </tr>
    </thead>
    <tbody>
      {{ range .data }}
        <tr>
          <td>{{index . 0}}</td>
          <td>{{index . 1}}</td>
          <td>{{index . 2}}</td>
          <td>{{index . 3}}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>