<div class="chart-container">
  <canvas id="reededchart"></canvas>
</div>

<style>
  .chart-container {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
</style>

<script>
  new Chart(document.getElementById("reededchart"), {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.labels}},
      datasets: [
      {
        datalabels: {
          labels: {
            title: true,
          },
          rotation: -90,
        },
        label: "Total(m2)",
        data: {{.totals}},
        yAxisID: 'y',
        pointStyle: 'rect',
        backgroundColor: 'rgba(54, 162, 235, 0.6)',
      },
      {
        datalabels: {
          anchor: 'end',
          labels: {
            value: {
              color: 'red'
            }
          }
        },
        label: "AVG(m2)",
        data: {{.avgs}},
        yAxisID: 'y',
        type: "line",
        pointStyle: 'line',
        pointRadius: 0,
        borderWidth: 1,
        backgroundColor: 'red',
        borderColor: 'red',
      },
    ]
    },
    options: {
      plugins: {
        datalabels: {
          color: 'black', align: 'top', anchor: 'center', offset: 0,
          formatter: function(value, context) {
            return value.toLocaleString()
          },   
        },
        title: {text: 'Reeded Output', display: true},
        legend: {
          labels: {
            usePointStyle: true,
          },
        }
      },
      responsive: true,
      scales: {
        x: {
          grid: { display: false, },
        },
        y: {
          display: false,
          grid: { display: false, },
        },
        y1: {
          type: 'linear',
          display: false,
          position: 'right',
          grid: {
            drawOnChartArea: false,
            display: false,
          },
        },
      },
    },
  });
</script>