<div>
  <canvas id="reededchart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script>
  new Chart(document.getElementById("reededchart"), {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.labels}},
      datasets: [
      {
        datalabels: {
          labels: {
            title: true
          },
        },
        label: "Total",
        data: {{.totals}},
        yAxisID: 'y',
        pointStyle: 'rect',
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgb(75, 192, 192)',
      },
      {
        datalabels: {
          anchor: 'end',
          labels: {
            value: {
              color: 'green'
            }
          }
        },
        label: "AVG",
        data: {{.avgs}},
        yAxisID: 'y',
        type: "line",
        pointStyle: 'line',
        pointRadius: 0,
        borderWidth: 1,
        backgroundColor: 'red',
        borderColor: 'red',
      },
    ]
    },
    options: {
      plugins: {
        title: "Reeded",
        legend: {
          labels: {
            usePointStyle: true,
          },
        }
      },
      responsive: true,
      scales: {
        x: {
          grid: { display: false, },
        },
        y: {
          beginAtZero: true,
          grid: { display: false, },
        },
        y1: {
          type: 'linear',
          display: false,
          position: 'right',
          grid: {
            drawOnChartArea: false,
            display: false,
          },
        },
      },
    },
  });
</script>