<div class="notification has-text-centered is-link is-light">
  Form nhập báo cáo cho Efficiency
</div>

<form x-data="{wc:''}"
id="inputForm" action="/efficiencyreport" method="post" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Work Center</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select">
            <select x-model="wc" id="mo" name="workcenter">
              {{ range .workcenters }}
              <option value="{{.}}">{{.}}</option>
              {{ end }}
            </select>
          </div>
        </div>
      </div>

      {{ if eq .workcenter "PANELCNC" }}
        <div class="field is-narrow">
          <div class="control">
            <div class="select">
              <select name="cncmachine">
                <option value="NESTING NEW">NESTING MỚI</option>
                <option value="PANEL SAW_NEW">PANEL SAW NEW</option>
                <option value="PANEL SAW">PANEL SAW</option>
                <option value="ROVER B">ROVER B</option>
                <option value="ROVER C">ROVER C</option>
              </select>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Nhà Máy</label>
    </div>

    <div class="field-body">
      <div class="field">
          <div class="control">
            <label class="radio">
              <input value="1" type="radio" name="factory" checked/>
              Xưởng 1
            </label>
            <label class="radio">
              <input value="2" type="radio" name="factory" />
              Xưởng 2
            </label>
          </div>
      </div>
    </div>
  
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Loại Hàng</label>
    </div>

    <div class="field-body">
      <div class="field">
          <div class="control">
            <label class="radio">
              <input value="BRAND" type="radio" name="typeofproduct"/>
              BRAND
            </label>
            <label class="radio">
              <input value="RH" type="radio" name="typeofproduct" />
              RH
            </label>
            <label class="radio">
              <input value="" type="radio" name="typeofproduct" checked/>
              Không phân loại
            </label>
          </div>
      </div>
    </div>
  
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Ngày</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" name="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Mặc định là ngày hôm nay.</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Sản Lượng</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="qty" class="input" step="any" min="0" type="number" placeholder="Enter quanity">
        </p>

        <p class="control"><a class="button is-static"></a></p>
      </div>
    </div>
  </div>

  <div x-show="wc=='PACKING'" class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Số lượng</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="pcs" class="input" value="0" min="0" type="number">
        </p>

        <p class="control"><a class="button is-static">pcs</a></p>
      </div>
    </div>
  </div>

  <div x-show="wc=='PACKING' || wc=='WOODFINISHING' || wc=='ASSEMBLY'" class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Sản Lượng hàng trên chuyền</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="qtywait" class="input" value="0" step="any" min="0" type="number">
        </p>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Tổng giờ công</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input disabled name="manhr" class="input" step="any" min="0" type="number">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined">
            Gửi
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="notification has-text-centered is-light">
  Lịch sử nhập gần đây
</div>
<div class="table-container is-centered">
  <table class="table">
    <thead>
      <tr>
        <th>Ngày Nhập</th>
        <th>Sản Lượng</th>
        <th>Giờ Công</th>
        <th>Loại Hàng</th>
        <th>Xưởng</th>
        {{if eq .workcenter  "PANELCNC"}}<th>Máy</th>{{end}}
      </tr>
    </thead>
    <tbody>
      {{ range .list }}
        <tr>
          <td>{{ index . 0}}</td>
          <td>{{ index . 1}}</td>
          <td>{{ index . 2}}</td>
          <td>{{ index . 3}}</td>
          <td>{{ index . 4}}</td>
          <td>{{ index . 5}}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<script src="/static/js/bulma-calendar.min.js"></script>
<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>