<div class="notification has-text-centered is-link is-light">
  Form nhập báo cáo cho Efficiency
</div>

<form id="inputForm" action="/efficiencyreport" method="post" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">WORK CENTER</label>
    </div>

    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select">
            <select id="mo" name="workcenter">
              <option value="{{.workcenter}}">{{.workcenter}}</option>
              <!-- <option disabled selected>Select Work Center</option>
              <option value="CUTTING">CUTTING</option>
              <option value="LAMINATION">LAMINATION</option>
              <option value="REEDEDLINE">REEDED LINE</option>
              <option value="VENEERLAMINATION">VENEER LAMINATION</option>
              <option value="PANELCNC">PANEL CNC</option>
              <option value="ASSEMBLY">ASSEMBLY</option>
              <option value="WOODFINISHING">WOOD FINISHING </option>
              <option value="PACKING">PACKING</option> -->
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">DATE</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" name="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Default is current time. Change only needed</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">QUANITY</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="qty" class="input" step="any" min="0" type="number" placeholder="Enter quanity">
        </p>

        <p class="control"><a class="button is-static">{{.unit}}</a></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">MANHR</label>
    </div>

    <div class="field-body">
      <div class="field">
        <p class="control">
          <input  name="manhr" class="input" step="any" min="0" type="number" placeholder="Enter quanity">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined">
            Send Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>