<div class="notification has-text-centered is-link is-light">
  Form nhập báo cáo cho Efficiency
</div>

<form id="inputForm" action="/efficiencyreport" method="post" class="box">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">WORK CENTER</label>
    </div>

    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select">
            <select id="mo" name="workcenter">
              <option value="{{.workcenter}}">{{.workcenter}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">DATE</label>
    </div>

    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input id="inputdate" name="inputdate" class="input" type="date">
        </p>
        <p class="help is-link">Default is current time. Change only needed</p>
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">QUANITY</label>
    </div>

    <div class="field-body">
      <div class="field has-addons">
        <p class="control">
          <input  name="qty" class="input" step="any" min="0" type="number" placeholder="Enter quanity">
        </p>

        <p class="control"><a class="button is-static">{{.unit}}</a></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">MANHR</label>
    </div>

    <div class="field-body">
      <div class="field">
        <p class="control">
          <input  name="manhr" class="input" step="any" min="0" type="number" placeholder="Enter quanity">
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-link is-outlined">
            Send Data
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="table-container" class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Ngày Nhập</th>
        <th>Sản Lượng</th>
        <th>Giờ Công</th>
      </tr>
    </thead>
    <tbody>  
      <tr>
      </tr>
    </tbody>
  </table>
</div>


<script>
  document.getElementById("inputdate").valueAsDate = new Date()
</script>