<div class="card">
  <div class="card-header center">
    <p class="title is-5">Safety</p>
  </div>
  <div class="card-content">
   <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>Accidents</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p>{{.numberOfAccidents}}</p>
      </div>
    </div>
   </div>

   <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>Ngày xảy ra TN gần nhất</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p>{{.lastestAccidentDate}}</p>
      </div>
    </div>
   </div>

   <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>Số ngày không tai nạn</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p>{{.daysNoAcc}}</p>
      </div>
    </div>
   </div>
   
  </div>
</div>