<tbody>
  <tr>
    <td class="has-text-left">MTD</td>
    <td></td>
    <td>${{.totalm}}</td>
    <td>{{index .pcs 1}}</td>
    <td>${{.rhmtdm}}</td>
    <td>{{index .pcs 0}}</td>
    <td>${{.brandmtdm}}</td>
    <td>${{.outsourcemtdm}}</td>
  </tr>
  <tr>
    <td class="has-text-left">MTD AVG</td>
    <td></td>
    <td></td>
    <!-- <td>${{.mtdavg}}</td> -->
    <td>{{.rhmtdavgp}}</td>
    <td>${{.rhmtdavgm}}</td>
    <td>{{.brandavgp}}</td>
    <td>${{.brandavgm}}</td>
  </tr>
  <tr>
    <td class="has-text-left">Month End Estimate</td>
    <td></td>
    <td>${{.totales}}</td>
  </tr>
</tbody>
