<div class="chart-container">
  <canvas id="woodrecovery"></canvas>
</div>

<style>
  .chart-container {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
</style>

<script>
  new Chart(document.getElementById("woodrecovery"), {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.dates}},
      datasets: [
      {
        datalabels: {
          rotation: -90,
          labels: {
            title: true,
          }
        },
        label: "RH(%)",
        data: {{ .rhlist }},
        backgroundColor: "rgba(75, 192, 192, 0.6)",
        pointStyle: 'rect',
      },

      {
        datalabels: {
          rotation: -90,
          labels: {
            title: true,
          }
        },
        label: "BRAND(%)",
        data: {{ .brandlist }},
        backgroundColor: "rgba(153, 102, 255, 0.6)",
        pointStyle: 'rect',
      },

      {
        datalabels: {
          labels: {
            title: null
          }
        },
        label: 'Target (60%)',
        data: {{.targets}},
        yAxisID: 'y',
        type: "line",
        pointStyle: 'line',
        pointRadius: 0,
        tension: 0.1,
        borderWidth: 1,
        backgroundColor: 'blue',
        borderColor: 'blue',
      },
    ]
    },
    options: {
      plugins: {
        datalabels: {
          color: 'black', align: 'top', anchor: 'start', offset: 0,
        },
        title: {text: "Wood Recovery", display: true},
        legend: {
          labels: {
            usePointStyle: true,
          },
        }
      },
      responsive: true,
      scales: {
        x: {
          grid: { display: false, },
        },
        y: {
          display: false,
          beginAtZero: true,
          grid: { display: false, },
        },
        y1: {
          type: 'linear',
          display: false,
          position: 'right',
          grid: {
            drawOnChartArea: false,
            display: false,
          },
        },
      },
    },
  });
</script>