<div class="card">
  <div class="card-image">
    <div class="container">
      <iframe class="responsive-iframe" src="https://www.youtube.com/embed/mZD6xxq-eyI?si=JDk2kpmWSZhMwD_B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4">Hướng dẫn đánh giá chất lượng</p>
        <p class="subtitle is-6"></p>
      </div>
    </div>

    <div class="content">
      Nội dung cần hiện thị
    </div>
  </div>
</div>

<style>
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>