<nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination">
  <a href="#" class="pagination-previous">Previous</a>
  
  <ul class="pagination-list">
    <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 4">4</a></li>
    <li>
      <a
        class="pagination-link is-current"
        aria-label="Page 5"
        aria-current="page"
        >5</a
      >
    </li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 6">6</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a href="#" class="pagination-link" aria-label="Goto page 9">9</a></li>
  </ul>
  <a href="#" class="pagination-next">Next page</a>
</nav>

