<div class="fixed-grid  has-1-cols-mobile has-4-cols-widescreen">
  <div class="grid">

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by1">
            <div id="chart" class="cell">
              <canvas id="myChart"></canvas>
            </div>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">

            <div class="media-content">
              <p class="title is-3">$</p>
              <ul>
                <li><a href="">Now</a></li>
                <li><a href="">Yes</a></li>
                <li><a href="">MTD</a></li>
                <li><a href="">YTD</a></li>
              </ul>
            </div>

            <div class="media-left">
              <figure class="image is-1by1">
                <div id="chart2" class="cell">
                  <canvas id="myChart2"></canvas>
                </div>
              </figure>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="cell">
      <div id="chart4" class="box">
        <a href="/shipped" class="label">Shipped</a>
        <canvas id="myChart4"></canvas>
      </div>
      <div id="chart5" class="box">
        <label class="label">Production</label>
        <canvas id="myChart5"></canvas>
      </div>
    </div>

    <div class="cell">
      <div class="box">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-4"><a href="/accident">Safety</a></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-6">From</p>
              <input  type="date" value="2024-01-01" name="accidentFrom" 
                      id="accidentFrom" class="input is-small">
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title is-6">Days</p>
              <p class="subtitle is-4">{{.days}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p>
                <span id="fallicon" class="icon">
                  <i class="fa-solid fa-person-falling-burst title is-4"></i>
                </span>
              </p>
                <span class="subtitle is-1">{{.accidents}}</span>
            </div>
          </div>
        </nav>
      </div>       
    </div>
    
    <div class="cell">
      <div id="chart3" class="cell">
        <canvas id="myChart3"></canvas>
      </div>
    </div>

  </div>
</div> 
  
<style>
  #fallicon {
    animation: animate 3s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: translate(100%, -50%) rotate(360deg);
    }
    100% {
      transform: translate(0%, 80%) rotate(-90deg);
    }
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
  const ctx = document.getElementById('myChart');
  const ctx2 = document.getElementById('myChart2');
  const ctx3 = document.getElementById('myChart3');
  const ctx4 = document.getElementById('myChart4');
  const ctx5 = document.getElementById('myChart5');

  new Chart(ctx, {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: ['Factory'],
      datasets: [{
        axis: 'y',
        label: 'Factory 1',
        data: [{{.factory_1}}],
        fill: false,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
          'rgb(255, 99, 132)',
        ],
      },
      {
        axis: 'y',
        label: 'Factory 2',
        data: [{{.factory_2}}],
        fill: false,
        backgroundColor: ['rgba(54, 162, 235, 0.2)',],
        borderColor: ['rgb(54, 162, 235']
      },
      // {
      //   label: 'Target',
      //   type: 'line',
      //   data: [130000],
      // }
    ]
    },
      options: {
        plugins: {
          datalabels: {
            font: {
              size: 20,
            }
          }
        },
        elements: {
          point: {
            borderColor: 'red',
            radius: 15,
            backgroundColor: ['rgba(54, 162, 235, 0.2)',],
            pointStyle: 'cross'
          }
        },
        indexAxis: 'y',
        scales: {
          x: {
            stacked: true,
            grid: {display: false,},
            border: { display: false},
            ticks: {display: false}
          },
          y: {
            stacked: true,
            grid: {display: false,},
            border: { display: false},
            ticks: {display: false}
          }
        },
      },

  });

  new Chart(ctx2, {
    plugins: [ChartDataLabels],
    options: {
      plugins: {
          datalabels: {
            font: {
              size: 20,
            }
          }
        },
    }, 
    type: 'pie',
    data: {
      labels: [
        'BRAND',
        'OEM',
      ],
      datasets: [{
        label: 'USD',
        data: [{{.sumBRAND}}, {{.sumOEM}}],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
        ],
        hoverOffset: 4
      }]
    },
  });

  new Chart(ctx3, {
    plugins: [ChartDataLabels],
    type: 'line',
    data: {
      labels: ['Rawmill', 'Finemill', 'Veneer', 'Steel', 'Concrete', 'Wood', 'Packing'],
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
  });

  new Chart(ctx4, {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.shipdate}},
      datasets: [{
        label: 'USD',
        data: {{.money}},
        hoverOffset: 4
      },]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      }
    },
  });

  new Chart(ctx5, {
    plugins: [ChartDataLabels],
    type: 'bar',
    data: {
      labels: {{.dateissue}},
      datasets: [{
        label: 'USD',
        data: {{.proValue}},
        hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  });

</script>