<div class="container">
  <div class="fixed-grid  has-1-cols-mobile has-4-cols-widescreen">
    <div class="grid">
  
      <div class="cell">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by1">
              <div id="chart" class="cell">
                <canvas id="myChart"></canvas>
              </div>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              
  
              <div class="media-content">
                <p class="title is-3">$</p>
                <ul>
                  <li><a href="">Now</a></li>
                  <li><a href="">Yes</a></li>
                  <li><a href="">MTD</a></li>
                  <li><a href="">YTD</a></li>
                </ul>
              </div>
  
              <div class="media-left">
                <figure class="image is-1by1">
                  <div id="chart2" class="cell">
                    <canvas id="myChart2"></canvas>
                  </div>
                </figure>     
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <div class="cell">
        <div id="chart4" class="box">
          <a href="/shipped" class="label">Shipped Value</a>
          <canvas id="myChart4"></canvas>
        </div>
        <div id="chart5" class="box">
          <label class="label">Production Value</label>
          <canvas id="myChart5"></canvas>
        </div>
      </div>
  
      <div class="cell">
        <div class="box">
          <nav class="level is-mobile">
            <div class="level-item has-text-centered">
              <div>
                <p class="title">Safety</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>From</p>
                <p>12/03/2022</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p>Days</p>
                <p>45</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div class="is-large">
                <p>
                  <span class="icon">
                    <i class="fa-solid fa-person-falling-burst"></i>
                  </span>
                </p>
                <span style="font-size: 4em;">7</span>
              </div>
            </div>
          </nav>
        </div>       
      </div>
      
      <div class="cell">
        <div id="chart3" class="cell">
          <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const ctx2 = document.getElementById('myChart2');
  const ctx3 = document.getElementById('myChart3');
  const ctx4 = document.getElementById('myChart4');
  const ctx5 = document.getElementById('myChart5');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Factory'],
      datasets: [{
        axis: 'y',
        label: 'Factory 1',
        data: [30],
        fill: false,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
          'rgb(255, 99, 132)',
        ],
        borderWidth: 1
      },
      {
        axis: 'y',
        label: 'Factory 2',
        data: [25],
        fill: false,
        backgroundColor: ['rgba(54, 162, 235, 0.2)',],
        borderColor: ['rgb(54, 162, 235']
      },
      {
        label: 'Target',
        type: 'line',
        data: [60, 60, 60],
        borderWidth: 2,
        borderColor: 'green',
      }]
    },
      options: {
        indexAxis: 'y',
        scales: {
          x: {
            max: 65,
            stacked: true,
          },
          y: {
            stacked: true,
          }
        },
      }
  });

  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: [
        'Red',
        'Blue',
        'Yellow'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    },
  });

  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: ['Rawmill', 'Finemill', 'Veneer', 'Steel', 'Concrete', 'Wood', 'Packing'],
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
  });

  new Chart(ctx4, {
    type: 'bar',
    data: {
      labels: {{.shipdate}},
      datasets: [{
        label: 'Value',
        data: {{.money}},
        hoverOffset: 4
      },]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      }
    },
  });

  new Chart(ctx5, {
    type: 'bar',
    data: {
      labels: [
        'date 1',
        'date 2',
        'date 3'
      ],
      datasets: [{
        label: 'Product Value',
        data: [300, 50, 100],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    },
  });

</script>