<div id="main-container">
  <div id="value-container">
    <div class="container is-fluid">
      <a href="">Value</a>
      <ul class="is-inline is-inline-block">
        <li>YTD</li>
        <li>MTD</li>
        <li>Yesterday</li>
        <li>Now</li>
      </ul>
    </div>
    
 </div>

  <div id="tiendokhung">the
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    o doi tien do
  </div>

  <div id="tieptheo">
    khung tiep theo
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tienkhung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
    khung do gia tri tien
  </div>
</div>