<nav class="navbar is-link has-background-text-70 has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.makersixtyfour.com/home">
      <img src="/static/images/logo.png" alt="brand-logo">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu has-text-centered">
    <div class="navbar-start">
      <!-- <a href="/" class="navbar-item">
        Home
      </a> -->

      <a href="/efficiency" class="navbar-item">
        Dashboard
      </a>

      <!-- <a href="/dashboard/yesterday" class="navbar-item">
        Old Dashboard
      </a> -->

      <a href="/productionadmin" class="navbar-item">
        Production
      </a>

      <!-- <a href="/inputsection" class="navbar-item">
        Công Đoạn Nhập Báo Cáo
      </a> -->

      <a href="/efficiencyreport" class="navbar-item">
        Nhập efficiency
      </a>

      <a href="/viewreport" class="navbar-item">
        Xem efficiency
      </a>

      <!-- <a href="/efficiencymanhr" class="navbar-item">
        Nhập manhr cho efficiency
      </a> -->

      <!-- <a href="/inputwoodrecovery" class="navbar-item">
        Nhập cho Wood Recovery
      </a> -->

      <!-- <a href="/inputwhissue" class="navbar-item">
        Nhập WH ISSUE
      </a> -->
      
      <!-- <a href="/evaluate" class="navbar-item">
        Evaluate
      </a> -->

      <!-- <a href="/shipped" class="navbar-item">
        Input Shipped
      </a> -->

      <!-- <a href="/provalue" class="navbar-item">
        Input Production
      </a>

       -->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Nhập Liệu
        </a>

        <div class="navbar-dropdown">
          <a href="/inputmanhr" class="navbar-item">
            Nhập ManHr
          </a>
          <a href="/importreededf" class="navbar-item">
            Import Reeded
          </a>
          <a href="/inputsummary" class="navbar-item">
            Import Summary
          </a>     
          <hr class="navbar-divider">
          <a href="/qualityinput" class="navbar-item">
            Nhập Quality
          </a>
          <a href="/qualityquickinput" class="navbar-item">
            Nhập nhanh Quality
          </a>
          <hr class="navbar-divider">
          <a href="/accident" class="navbar-item">
            Input Safety
          </a>
          <a href="/target" class="navbar-item">
            Nhập Target
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});
</script>