<nav class="panel is-primary">
  <p class="panel-heading">{{.title}}</p>

  <div class="panel-block">
    <p class="control has-icons-left">
      <input  
              class="input" name="search" type="search" placeholder="Search" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <p class="panel-tabs">
      <a>All</a>
      <a>Available</a>
      <a>Running</a>
      <a>Ready</a>
      <a>Done</a>
  </p>

  <div>
    {{ template "fragments/prodAdContent" .mos }}
  </div>


  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>