<nav x-data="{title:''}" class="panel is-primary">
  <p id="title" class="panel-heading" x-text="title"></p>

  <div class="panel-block">
    <p class="control has-icons-left">
      <input  
              class="input" name="search" type="search" placeholder="Search" />
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <p class="panel-tabs" hx-target="#filter_results" hx-swap="innerHTML">
      <a hx-get="/prodadfilter/All" @click="title = 'All of MO'">All</a>
      <a hx-get="/prodadfilter/Available" @click="title = 'Available MOs'">Available</a>
      <a hx-get="/prodadfilter/Running" @click="title = 'MOs that is running'">Running</a>
      <a hx-get="/prodadfilter/Ready" @click="title = 'MOs that is waiting for running'">Ready</a>
      <a hx-get="/prodadfilter/Done" @click="title = 'Finished MOs'">Done</a>
  </p>

  <div id="filter_results">
    {{ template "fragments/listMos" . }}
  </div>


  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>