<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/static/js/htmx.min.js"></script>

</head>
<body>

  <form>
    <table class="table delete-row-example">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Angie MacDowell</td>
          <td><input type="checkbox" name="some" id="some"></td>
          <td>Active</td>
          <td>
            <button hx-trigger="mouseover" hx-delete="/fortest" hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-confirm="Are you sure?">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  
</body>
</html>

<style>
  body {
    background-color: yellow;
    box-sizing: border-box;
    overflow: auto;
  }
  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>


